
@keyframes pin-postit-rotate-right {
    0%{
        opacity: 0.3;
        transform: scale(10) rotate(0deg);
    }

    10%{
        opacity: 0.5;
    }

    25%{
        opacity: 1;
    }

    90%{
        transform: rotate(4deg);
    }

    100%{
        transform: scale(1) rotate(8deg);
        opacity: 1;
    }
}

@keyframes pin-postit-rotate-left {
    0%{
        opacity: 0.3;
        transform: scale(10) rotate(0deg);
    }

    10%{
        opacity: 0.5;
    }

    25%{
        opacity: 1;
    }

    90%{
        transform: rotate(-4deg);
    }

    100%{
        transform: scale(1) rotate(-8deg);
        opacity: 1;
    }
}


@keyframes words-carousel {
    0%{
        opacity: 0;
        transform: translateY(-2em);
        content: "interfacce web";
        color:cadetblue;
    }
    
    10%{
        opacity: 1;
        transform: translateY(0);
    }

    25%{
        opacity: 1;
        transform: translateY(0);
    }

    32%{
        opacity: 0;
        transform: translateY(2em);
        content: "interfacce web";
        color: cadetblue;
    }
    /* ------------------------------------ */

    33%{
        opacity: 0;
        transform: translateY(-2em);
        content: "single page app";
        color:deeppink;
    }

    43%{
        opacity: 1;
        transform: translateY(0);
    }

    58%{
        opacity: 1;
        transform: translateY(0);
    }
    
    65%{
        opacity: 0;
        transform: translateY(2em);
        content: "single page app";
        color:deeppink;
    }
    
    /* ------------------------------------ */

    66%{
        opacity: 0;
        transform: translateY(-2em);
        content: "app native";
        color: yellowgreen;
    }

    76%{
        opacity: 1;
        transform: translateY(0);
    }

    91%{
        opacity: 1;
        transform: translateY(0);
    }
    
    100%{
        opacity: 0;
        transform: translateY(2em);
        content: "app native";
        color: yellowgreen;
    }
}

@keyframes words-carousel-pt2 {
    0%{
        opacity: 0;
        transform: translateY(-2em);
        content: "interfacce web";
        color:cadetblue;
    }
    
    10%{
        opacity: 1;
        transform: translateY(0);
    }

    25%{
        opacity: 1;
        transform: translateY(0);
    }

    32%{
        opacity: 0;
        transform: translateY(2em);
        content: "interfacce web";
        color: cadetblue;
    }

    100%{
        opacity: 0;
        transform: translateY(-2em);
    }
}