/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-size: 1.1em;
}

p{
    display: inline-block;
}

#testoAlternato .parole::after{
    content: "";
    display: inline-block;
    animation: words-carousel 5s linear 0s infinite;
    transition: transform 1s linear, opacity 1s linear;
    opacity: 0;
    font-style: italic;
}


hr{
    margin: 2em auto;
}


/* (☞ﾟヮﾟ)☞ FOLLOWING THE RULES ☜(ﾟヮﾟ☜) */


#testoAlternatopt2 .parole{
    position: relative;
}

#testoAlternatopt2 .parole i{
    position: absolute;
    left: 0;
    top: 0;
    width: max-content;
}

#testoAlternatopt2 .parole i:nth-child(1){
    opacity: 1;
    animation: words-carousel-pt2 5s linear 0s infinite;
    color: cadetblue;
}

#testoAlternatopt2 .parole i:nth-child(2){
    opacity: 0;
    animation: words-carousel-pt2 5s linear 1.7s infinite;
    color:deeppink;
}

#testoAlternatopt2 .parole i:nth-child(3){
    opacity: 0;
    animation: words-carousel-pt2 5s linear 3.4s infinite;
    color: yellowgreen;
}