*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #680D00;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.body-container{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #FBF7E3;
    border-radius: 60px;
    width: 95%;
    margin: 0 auto;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

nav ul li{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

nav ul,
nav ul li{
    gap: 1em;
}

nav ul li div,
.shop-link {
    background-color: #F3DF85;
    border-radius: 80px;
    padding: 1em;
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
}

.shop-link{
    justify-content: center;
}

.shop-link div {
	display: flex;
	gap: 1em;
	align-items: center;
    justify-content: center;
}

.shop-link div img{
    max-height: 3em;
}

.shop-link div h4{
    font-size: 1.5em;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 1em auto;
}

.cards-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
}

.articles-line{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.articles-container {
	width: 90%;
}

.articles-container h2{
    text-align: center;
    margin: 1em auto;
}

.article-container{
    width: 100%;
}

.articles-container h2{
    font-size: 1.6em;
    font-weight: 1000;
}

.article-text h4{
    font-size: 1.4em;
    font-weight: 1000;
}

/* TABLET */
@media screen and (min-width: 671px){
    nav ul{
        flex-direction: row;
    }

    .second-nav-row{
        order: 1;
    }

    .shop-link{
        order: 2;
    }

    .third-nav-row{
        order: 3;
    }

    .articles-line{
        display: flex;
        flex-direction: row;
    }
    
    .articles-container h2{
        text-align: left;
    }
    
}

/* Medium */
@media screen and (min-width: 881px){
    .cards-container{
        display: flex;
        flex-direction: row;
    }
    .articles-line{
        gap: 1em;
    }

    .second-nav-row div,
    .third-nav-row div{
        padding: 2.5em 1em;
    }

    .body-container{
        flex-direction: row;
    }

    nav{
        height: 100%;
        border-radius: 0;
    }

    nav ul{
        height: fit-content;
    }

    nav ul,nav ul li{
        flex-direction: column;
    }

    .second-nav-row,
    .shop-link,
    .third-nav-row{
        order: 0;
    }

}